@media(max-width: 1100px) {
  .container {
    max-width: 1000px;
  }

  .container-col {
    max-width: 1000px;
  }

  .content {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
  }

  .forms-container {
    width: 100%;
  }

  .content-footer {
    max-width: 1000px;
  }

  .educational-materials {
    flex-wrap: wrap;
  }
}

@media(max-width: 768px) {
  .container-about {
    flex-direction: column;
  }


  .about {
    padding: 1rem 0.5rem;
    margin: 0;
  }

  .menu-container {
    display: none;
  }

  .list-item--button {
    outline: 0;
    border: none;
    font-size: 12px;
  }

  .logo {
    width: 50px !important;
    height: 50px !important;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
  }

  .menu-modal {
    width: 70%;
    height: 100vh;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFF;
    padding: 1rem;
    box-shadow: -1px 0px 20px 0 #636060;
  }

  .menu-modal img {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .menu-modal ul {
    list-style: none;
    margin-top: 3rem;
  }

  .menu-modal ul li {
    margin: 25px 0;
  }

  .responsive-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .content-info {
    width: 100%;
  }

  .image-block {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .service-card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .container-col {
    padding: 1rem;
  }

  .modality-content {
    flex-direction: column;
    gap: 15px;
  }

  .footer-container {
    padding: 1rem;
  }

  .content-footer {
    flex-direction: column;
  }

  .personal-info,
  .services-info,
  .contact-footer-info {
    width: 100%;
  }

  .contact-description {
    width: 100%;
    margin: 1rem 0 2rem 0;
  }

  .contact-card {
    width: 45%;
  }

  .cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-btn {
    display: none;
  }
}

@media(max-width: 650px) {

  .pdf-card {
    width: 95%;
  }

  .educational-materials {
    flex-direction: column;
  }

  .contact-card {
    width: 100%;
  }

  .cards-container {
    flex-direction: column;
  }

  .cards-grid {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .copyright-box p {
    text-align: center;
    margin: 1rem 0;
  }

  .title {
    width: 100%;
    font-size: 30px;
  }

  .content-info p {
    width: 100%;
  }

  .about-title,
  .about-description {
    width: 100%;
  }
}